body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgoldenrodyellow;
}
main{
    background-color: white;
    text-align: center;
    line-height: 30px;
    margin: auto;
    padding: 15px;
    height: 30vh;
    width: 40vw;
    border-radius: 20px;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.486);

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}
#txtnum1, #txtnum2{
    width: 40px;
}