body{
    font-family: 'Courier New', Courier, monospace;
    background-color: lightgreen;
}
main{
    background-color: white;
    text-align: center;
    line-height: 30px;
    margin: auto;
    padding: 5px;
    height: 30vh;
    width: 50vw;
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.438);

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}
.input{
    width: 50px;
}