body{
    background-color: rgb(60, 60, 134);
    font-family: Arial, Helvetica, sans-serif;
}

main{
    background-color: whitesmoke;
    height: 50vh;
    width: 30vw;
    padding: 10px;
    margin: auto;
    border-radius: 0px 15px;
}

input[type=number]{
    width: 55px;
    border: 0px;
}
input[type=submit]{
    background-color: rgb(64, 64, 219);
    font-weight: bolder;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
}