body{
    font-family: 'Courier New', Courier, monospace;
    background-color: lightgray;
}
main{
    background-color: white;
    height: 30vh;
    width: 40vw;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.486);
    line-height: 25px;
}
h1{
   text-align: center; 
}
.input{
    width: 50px;
}